@import "https://fonts.googleapis.com/css?family=Lato:400,700";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
#page-wraper{
  position: relative; 
}
.logo{
  width: 63vw;
  height: 13vw;
  }

img{
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 300px;
  margin-left: 20px;
  justify-content: center;
  aling-items: center;
  text-aling: center;
  margin-left: 20px;
}

nav{
  font-weight: 400;
}
nav ul{
  width: 35vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:  #f1c40f;
}

li{
 list-style: none;
 padding: 5px 0;
}
a{
  color: #000;
  text-decoration: none;
}
.container{
  max-width: 1000px;
  width: 100%;
  margi: 0 auto;
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
h2{
  word-wrap: break-word;
  margin-top: 15px;
}
input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
input[type="submit"] {
    max-width: 165px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
  }
.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
} 
#features {
    margin-top: 30px;
}
.grid {
   display: flex;
}
.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}
iframe{
  max-width: 560px;
  width: 100%;
}

#baja{
  margin-top: 200px;
  
}
#how-it-works{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#pricing{
  display: flex;
  justyfi-content: center;
  margin-top: 60px;
  flex-direction: row;
}
#consultas{
  display: flex;
  justyfi-content: center;
  margin-top: 60px;
  margin-left: 460px;
  margin-bottom: 60px;
  flex-direction: row;
}
#medioa{
  display: flex;
  justyfi-content: center;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 0px;
  flex-direction: row;
}
#llamadas{
  display: flex;
  justyfi-content: center;
  margin-top: 60px;
  margin-left: 530px;
  margin-bottom: 60px;
  flex-direction: row;
}
#mediob{
  display: flex;
  justyfi-content: center;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 0px;
  flex-direction: row;
}
#depositosa{
  display: flex;
  justyfi-content: center;
  margin-top: 60px;
  margin-left: 580px;
  margin-bottom: 60px;
  flex-direction: row;
}
#medioc{
  display: flex;
  justyfi-content: center;
  margin-top: 10px;
  margin-left: -100px;
  margin-bottom: 0px;
  flex-direction: row;
}
#depositosb{
  display: flex;
  justyfi-content: center;
  margin-top: 60px;
  margin-left: 560px;
  margin-bottom: 60px;
  flex-direction: row;
}
#mediod{
  display: flex;
  justyfi-content: center;
  margin-top: 10px;
  margin-left: -60px;
  margin-bottom: 0px;
  flex-direction: row;
}


#pricing2{
  display: flex;
  justyfi-content: center;
  margin-top: 60px;
  flex-direction: row;
}
#tenor, #bass, #valve{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%/3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #ddd;
}
.lavel{
  background-color: #ccc;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
ol{
  margin: 15px 0;
}
button{
   border: 0;
   margin: 15px 0;
   background-color: #f1c40f;
   font-weight: 400;
}

footer{
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}
footer ul{
  display: flex;
  justify-content: flex-end;  
}
footer ul li{
  padding: 0 10px;
}
span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
  }

@media screen and (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
  img{
    margin: 0 auto;
  }
  header{
    flex-wrap: wrap;
  }
  nav{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;     
  }
  li {
     padding-bottom: 5px; 
    }
  nav ul{

    flex-direction: column;
  }
}

@media screen and (max-width: 650px){
  #hero{
    margin-top: 130px;
  }
}
@media screen and (max-width: 650px){
  #pricing{
    flex-direction: column;
  }
 #tenor, #bass, #valve { 
  max-width: 300px; 
  width: 100%; 
  margin: 0 auto; 
  margin-bottom: 10px; 
  }
}